.w3-code{
    font-family: Consolas,"courier new";
    width: auto;/*112*/
    background-color: #fff;
    padding: 8px 12px;
    margin-top: 16px!important;/*138*/
    margin-bottom: 16!important;
    border-left: 4px solid #04AA6D; /*430*/

    font-size: 15px;/*1000*/
}

.w3-codespan{
    color:crimson;/*113*/
    padding-left: 4px;
    padding-right: 4px;
    font-size: 105%; /*991*/
    background-color: rgba(222,222,222,0.3);
}
